/* Estilos para el contenedor principal de la lista de tareas */
.todo-container {
  background-color: #f8f8f8; /* Color de fondo similar al papel de libreta */
  padding: 20px;
  border: 1px solid #ddd; /* Borde ligero */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  max-width: 400px; /* Ancho máximo para centrar el contenido */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 30px; /* Centrar verticalmente */
}

/* Estilos para el encabezado */
h1 {
  text-align: center;
  font-size: 25px;
}

/* Estilos para la lista de tareas */
ul {
  list-style: none;
  padding: 0;
}

/* Estilos para cada elemento de la lista de tareas */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  background-color: #fff; /* Color de fondo del elemento */
  padding: 10px;
  border: 1px solid #ddd; /* Borde ligero alrededor de cada tarea */
}

/* Estilos para el botón de eliminar */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el icono de eliminar */
button:hover {
  color: red; /* Cambiar el color del icono al pasar el mouse sobre él */
}

/* Estilos para la casilla de entrada (input) */
input[type="text"] {
  margin-bottom: 10px; /* Espacio entre input y tarea */
  margin-right: 5px;
}

/* Estilos para el contador de tareas */
.task-count {
  font-size: 17px; /* Aumenta el tamaño del texto */
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 1px;
}

.completed-task {
  text-decoration: line-through; /* Aplica el efecto de tachado al texto */
}